body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 320px;
  flex-shrink: 0;
  padding: 12px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

#map {
  flex: 1;
  background: white;
}

/* ボタン */
.btn-group {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.btn-group button {
  flex: 1;
}

.control-btn {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  background: #eee;
}

.control-btn:hover {
  background: #ddd;
}

/* リスト */
.area-item {
  margin-bottom: 10px;
}

.area-name {
  display: flex;
  align-items: baseline;
}

.main-name {
  font-weight: bold;
}

.kana {
  font-size: 8px;
  color: #888;
  margin-left: 6px;
}

/* グループ */
.group-header {
  cursor: pointer;
}

.group-content.collapsed {
  display: none;
}

.sidebar h4 {
  margin-top: 12px;
  margin-bottom: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.group-block {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#inputArea {
  width: 100%;
  margin-bottom: 8px;
  resize: vertical;
}

#applyBtn {
  width: 100%;
  margin-bottom: 10px;
}


.desc {
  font-size: 11px;
  color: #666;
  margin-bottom: 6px;
}
